@model IEnumerable<EstacionamentoWeb.Models.Veiculo>

@{ ViewData["Title"] = "Cadastrar veiculo"; }

<h1>Meus Veículos</h1>

<p>
    <a asp-action="Cadastrar" asp-controller="Veiculos" class="botao btn btn-primary">Cadastre seu veiculos</a>
</p>
<p>
    <a asp-action="Cadastrar" asp-controller="Estacionar" class="botao btn btn-primary">Estacionar o veiculo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Modelo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Placa)
    </td>
    <td>
        <a asp-action="Remover" asp-route-id="@item.Id">Remover</a>
    </td>
</tr>}
    </tbody>
</table>
